 
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html {
    // this defines what 1rem is
    font-size: 62.5%;
}


body {
     /* isto previne que o padding e borders sejao adicionados ao height and weight dos elementos*/
     box-sizing: border-box;
}

